.feature {
  position: relative;
  color: $fontcolor-dark;
  padding-top: 50px;
  h3 {
    position: relative;
    z-index: 10;
    width: 232px;
    line-height: 1.6;
    font-size: $font-s * 1.25;
    text-align: center;
    background: $bgcolor-main;
    margin: 0 auto 30px auto;
  }
  .titleserif {
    width: 60%;
    position: absolute;
    top: 50px + $font-s * 1.25 * 1.6;
    left: 20%;
    border-bottom: 1px solid #000;
    @include pad-below {
      width: 70%;
      left: 15%;
    }
    @include iphone {
      display: none;
    }
  }
  .featurebox {
    display: flex;
    justify-content: space-around;
    line-height: 1.3;
    padding: 0 50px;
    @include pad {
      justify-content: space-between;
      padding: 0 30px;
    }
    @include iphone {
      flex-direction: column;
      align-items: center;
    }
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin-bottom: 50px;
      @include pad {
        width: 28%;
      }
      @include iphone {
        width: 100%;
      }
      img {
        margin-bottom: 20px;
      }
      h4 {
        margin-bottom: 11px;
      }
    }
  }
}
.chef {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $fontcolor-pale;
  background: $bgcolor-dark;
  padding: 0 42px;
  @include desktop {
    padding: 0 30px;
  }
  @include pad {
    padding: 0 12px;
  }
  @include pad-below {
    flex-direction: column;
    padding: 0;
  }
  .chefimg {
    width: 50%;
    height: 460px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/main_chef_brown.png);
    @include pad-below {
      width: 100%;
      background-position: center center;
    }
    @include mobile360 {
      background-position: right center;
    }
  }
  .chefintro {
    width: 47%;
    line-height: 1.3;
    padding: 30px 0;
    @include pad-below {
      width: 65%;
    }
    @include iphone {
      width: 82%;
    }
    h3 {
      font-size: $font-s * 1.25;
      padding-bottom: $font-s;
      span {
        font-size: $font-s;
      }
    }
  }
}
.feedback {
  color: $fontcolor-dark;
  padding-top: 50px;
  h3 {
    font-size: $font-l;
    text-align: center;
    margin-bottom: 30px;
  }
  .feedbackbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 1.5;
    li {
      display: flex;
      align-items: flex-start;
      width: 32%;
      margin-bottom: 50px;
      @include pad-below {
        width: 100%;
      }
      .feedbacktext {
        margin-left: 12px;
        h5 {
          padding: 22px 0;
        }
        p {
          padding-bottom: 16px;
        }
        span {
          float: right;
          @include clearfix
        }
      }
    }
  }
}
.reserve {
  color: $fontcolor-dark;
  line-height: 1.3;
  background: $bgcolor-pale;
  padding-top: 50px;
  h3 {
    font-size: $font-l;
    text-align: center;
    margin-bottom: 40px;
  }
  .reservebox {
    display: flex;
    justify-content: space-between;
    @include pad-below {
      flex-wrap: wrap;
    }
    li {
      width: 49%;
      margin-bottom: 50px;
      @include pad-below {
        width: 70%;
        margin: 0 auto 50px auto;
      }
      @include iphone {
        width: 80%;
      }
      @include mobile360 {
        width: 98%;
      }
    }
    .map {
      max-width: 462px;
      height: 386px;
      background-image: url(../images/Map.png);
      background-repeat: no-repeat;
      background-position: -1px center;
      border: 1px solid #D1D1D1;
      @include pad-below {
        margin-bottom: 20px;
      }
    }
  }
}
