$bgcolor-main: #EFE9E7;
$bgcolor-dark: #3D1101;
$bgcolor-pale: rgba(250,250,250,0.7);
$fontcolor-dark: #3D1101;
$fontcolor-pale: #EFE9E7;
$fontcolor-light: #FFFFFF; 
$hori-padding-desktop: 0 45px;
$hori-padding-tablet: 0 12px;
$hori-padding-mobile: 0 10px;