$bgcolor-main: #EFE9E7;
$bgcolor-dark: #3D1101;
$bgcolor-pale: rgba(250,250,250,0.7);
$fontcolor-dark: #3D1101;
$fontcolor-pale: #EFE9E7;
$fontcolor-light: #FFFFFF; 
$fontcolor-eyecatch: #FF5E45;
$activecolor: #a88e7b;
$hdcolor-hover: rgba(150, 150, 150, 0.6);
$hdcolor-active: rgba(250, 250, 250, 0.3);
$hdcolor-bg: rgba(0, 0, 0, 0.75);
$font-s: 16px;
$font-m: 18px;
$font-l: $font-s * 1.5;
$font-xl: $font-m * 2;